---
layout: default
permalink: /tags/
title: Tags
---

<div class="home" id="tags">

  <h1 class="page-heading">Tags</h1>

{% assign sorted_tags = site.tags | sort %}
{% for tag in sorted_tags %}
    <div id="{{ tag[0] | slugify }}">
    <h2 class="post-tag">{{ tag[0] }}</h2>
    {% for post in tag[1] %}
    <ul class="post-list">
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h3>
    </ul>
    {% endfor %}
    </div>
{% endfor %}
</div>
