<!-- This file is referenced in one of my posts for demo purposes, and you most likely do not need it. -->
<script>
    function domReady() {
        var toc = document.getElementById('markdown-toc');
        if (toc) {
            toc.insertAdjacentHTML('beforebegin', '<p><strong>Table of contents</strong></p>');
        }
    }

    if ( document.addEventListener ) { // Mozilla, Opera, Webkit
        document.addEventListener( 'DOMContentLoaded', function() {
            document.removeEventListener( 'DOMContentLoaded', arguments.callee, false);
            domReady();
        }, false );
    } else if ( document.attachEvent ) { // If IE event model is used
        // ensure firing before onload
        document.attachEvent('onreadystatechange', function() {
            if ( document.readyState === 'complete' ) {
                document.detachEvent( 'onreadystatechange', arguments.callee );
                domReady();
            }
        });
    }
</script>
