.post-tag {
  display: inline-block;
  background: $grey-color-light;
  padding: 0 .5rem;
  margin-right: .5rem;
  border-radius: 4px;
  color: $text-color;
  font-size: 90%;
  &:before {
    content: "\f02b";
    font-family: FontAwesome;
    padding-right: .5em;
  }
  &:hover {
    text-decoration: none;
    background: $grey-color;
    color: $background-color;
  }
}
.post-link {
  display: block;
  @include relative-font-size(1.125);
}
.post-title {
  @include relative-font-size(2.5);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2);
  }
}
.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(1.75);

    @include media-query($on-laptop) {
      @include relative-font-size(1.625);
    }
  }

  h3 {
    @include relative-font-size(1.375);

    @include media-query($on-laptop) {
      @include relative-font-size(1.25);
    }
  }

  h4 {
    @include relative-font-size(1.125);

    @include media-query($on-laptop) {
      @include relative-font-size(1.1);
    }
  }
}
.prev-next {
  display: block;
  overflow: hidden;
  @include relative-font-size(0.9);
}
.prev-next a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}
.prev-next .next {
  text-align: right;
}
.pagination {
  display: block;
  overflow: hidden;
  @include relative-font-size(0.9);
}
